@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

.fh-banner {
  position: relative;
  padding: 32px;
  background-image: linear-gradient(135deg, #345A92 0%, #1B2C4F 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: solid 3px rgba(0, 0, 0, 0.5);
}

.fh-title {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.fh-logo {
  height: 90px; /* Adjust the value to make the logo bigger */
  width: 90px; /* Adjust the value to maintain the aspect ratio */
}

.fh-app {
  height: 80px; /* Adjust the value to make the logo bigger */
  width: 250px; /* Adjust the value to maintain the aspect ratio */
}
