@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

.fh-banner {
  position: relative;
  padding: 32px;
  background-image: linear-gradient(135deg, #2e3192 0%, #1b165a 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: solid 3px rgba(0, 0, 0, 0.5);
}

.fh-title {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.fh-logo {
  height: 45px;
  width: 45px;
}
