.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.stats-container > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.stats-container img {
    height: 100px;
    margin-right: 10px;
}

.stats-container span {
    font-size: 18px;
    margin-right: 10px;
}

.stats-container button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stats-container button:hover {
    background-color: #e1e1e1;
}

.stats-container > div.stats-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.stats-container > div.stats-row .stat-name {
    margin-right: 10px;
    font-weight: bold;
}

.stats-container > div.stats-row .gauge-bar-container {
    width: 400px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.stats-container > div.stats-row .gauge-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}

.stats-container > div.stats-row .gauge-bar-left {
    float: left;
}

.stats-container > div.stats-row .gauge-bar-right {
    float: right;
}

.stats-container > div.stats-row .stat-value {
    margin-left: 5px;
    color: black;
    font-size: 14px;
    line-height: 30px;
    transition: width 0.5s ease-in-out;
}

